/* Стиль тела страницы */
body {
    background-color: gainsboro; /* Цвет фона */
  }

/* Стиль холста */
.paintCanvas{
    margin: 0 auto; /* Внешний отступ элемента */
    width: 800px; /* Ширина элемента */
    height: 600px; /* Высота элемента */
    background: white; /* Цвет фона */
    border: solid 1px black; /* Толщина границы элемента */
}